/* CSS Document */
body{background:#cbf078}
main,header {background:white;}

footer {background: #cbf078;}

nav{background:#78bc1b;color:white;}
nav a{color: white; text-decoration: none;}
nav ul li ul {background:#78bc1b;transition:display 0.8s;}
nav li{transition:background 0.8s;}
nav li:hover{background:#58920a}


.bloky div {background:#e0ffcd}

