/* CSS Document */
body {
	margin: 0;
	padding: 0;
}

main,
header,
nav,
footer {
	margin: auto;
	width: 70vw;
	min-width: 800px;
}


header {
	height: 20vw;
	min-height: 200px;
}

/*Navigace*/
nav {
	height: 3vw;
	min-height: 50px;
	line-height: 3vw;
}

nav ul {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: block;
	width: 100%;
	text-align: center;
}

nav ul li ul {
	display: none;
}

nav ul li:hover ul {
	display: block;
	z-index: 100;
	position: relative;
}

/*obsah stranky*/
section {
	padding: 1vw;
	position: relative;
}

aside {
	width: 12vw;
	min-height: 8vw;
	position: absolute;
	left: -14vw;
	top: 0;
	padding: 1vw
}

.dva_sloupce {
	column-count: 2;
	column-gap: 2vw;
	padding-left: 4vw;
	padding-right: 4vw
}

.bloky {
    display: flex;
    justify-content: space-between;
}

.side-by-side form {
    width: 80%;
}

.form-control {
    margin-bottom: 1em;
    margin-left: 0.5em;
    width: 90%
}

@media (max-width: 768px) {
    .bloky {
        flex-direction: column;
    }

    .bloky form {
        width: 100%;
    }
}

/* --- FORMS --- */

.form-control {
    margin-bottom: 1em;
    width: 80%
}

.form-control > label:first-child {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

label {
    margin-right: 1em;
}

input, textarea {
    border-radius: 10px;
    border: 2px solid #78bc1b;
    padding: 0.5em 1em;
}

input[type="radio"] {
    margin-right: 0.5em;
}

input[type="text"] {
    background: white;
	border-color: #78bc1b;
}

input[type="submit"] {
    background: #78bc1b;
    color: white;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.side-by-side div {
    width: 40%;
    display: block;
    background: #e5f7cb;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
}

@media (max-width: 600px) {
    .side-by-side div {
        width: 100%;
    }
}

.side-by-side h2 {
    margin-bottom: 0.5rem;
}

.side-by-side p {
    font-size: 0.9em;
}

@media screen and (max-width: 992px) {
    .side-by-side div {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .side-by-side div {
        width: 100%;
    }
}

footer {
	height: 20vw;
	min-height: 200px;
	display: flex;
}

footer div {
	width: 100%;
	text-align: center;
}