<footer>
      <div>
        <h3>Buďte s námi v kontaktu</h3>
        <h5>Telefonní číslo: +420 123 456 789</h5>
        <h5>Email: agrostroje@gmail.com</h5>
        <h5>Adresa: Zemědělská 335, 602 00 Brno</h5>
      </div>
    </footer>