<footer>
    <div>
      <h3>Rychlé odkazy</h3>
      <ul>
        <li>
            <a href="{{url_for('homepage.view_homepage')}}">Úvod</a>
        </li>
        <li>
            <a href="{{url_for('reservation1.view_reservation_page1')}}">Rezervace</a>
        </li>
        <li>
          <a href="{{ url_for('contactpage.view_contact_page') }}">Kontakt</a>
        </li>
      </ul>
    </div>
    <div>
    <h3>Kontakt</h3>
    <address>
        Agro stroje a.s.<br>
        Zemědělská 335 <br>
        Brno, 613 00
    </address><br>
    <p>Telefonní číslo: <br> +420 123 456 789</p>
    <p>Email: <a href="mailto:info@agrostroje.cz">info@agrostroje.cz</a></p>
</div>

    <div>
      <h3>Provozní doba</h3>
        <p>Pondělí - 8:00 - 17:00 <br>
            Úterý - 8:00 - 17:00 <br>
            Středa - 8:00 - 17:00 <br>
            Čtvrtek - 8:00 - 17:00 <br>
            Pátek - 8:00 - 17:00 <br>
        </p>
    </div>
</footer>
