<footer>
      <div>
        <h3>Buďte s námi v kontaktu</h3>
        <h4>Telefonní číslo: +420 123 456 789</h4>
        <h4>Email: agrostroje@gmail.com</h4> <br>

        <h5>Adresa:</h5>
        <address>
            Zemědělská 335 <br>
            Brno, 613 00
        </address>

      </div>
</footer>