<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Agro stroje</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = "css/styles.css") }}" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  </head>
  <body>
      {% include "__nav.jinja" %}

      <!-- Form macro helper -->
    {% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </dd>
    {% endmacro %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {%  block content %}
      default
      {% endblock %}

      {% include "__footer.jinja" %}

      <script src = "{{ url_for('static', filename = "script.js") }}"></script>

  </body>
</html>