<header>
<h1>Půjčovna zemědělských strojů</h1>
</header>

    <div id= "hamburger" class="hamburger">
        <span class="material-icons">menu</span>
    </div>
    <nav id="nav">
          <a href="{{ url_for("view_homepage") }}">Úvod</a>
          <a href="{{ url_for("view_reservation_page") }}">Rezervace</a>
          <a href="{{ url_for("view_contact_page") }}">Kontakt</a>
          <a href="{{ url_for("view_account_page") }}">Můj účet</a>
    </nav>