<header></header>

    <nav>
      <ul>
          <li><a href="{{ url_for("view_homepage") }}">Home</a></li>
          <li><a href="{{ url_for("view_products_page") }}">Produkty</a> <ul>
            <li>Stále produkty</li>
            <li>Zakázková výroba</li>
          </ul>
        </li>
        <li>Pobočky</li>
          <li><a href="{{ url_for("view_contact_page") }}">Kontakt</a></li>
      </ul>
    </nav>