<header></header>

    <nav>
      <ul>
          <li><a href="{{ url_for("view_homepage") }}">Úvod</a></li>
          <li><a href="{{ url_for("view_products_page") }}">Rezervace</a></li>
          <li><a href="{{ url_for("view_contact_page") }}">Kontakt</a></li>
          <li><a href="{{ url_for("view_account_page") }}">Můj účet</a></li>

      </ul>
    </nav>