{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>  Přihlášení</h2>
    <p>  Pro rezervaci se musíte přihlásit či založit účet:</p>
    </section>


    <section class="side-by-side">
        <div>
            <section>
                <article>
                    <h2>Přihlášení:</h2>
                    <form>

                        <div class="form-control">
                            <label>Email</label>
                            <input type="email" />
                        </div>

                        <div class="form-control">
                            <label>Heslo</label>
                            <input type="password" />
                        </div>

                        <div class="form-control">
                            <a href="{{ url_for("view_my_account_page") }}">
                                <button type="Button">Odeslat</button>
                            </a>
                        </div>
                    </form>
                </article>
            </section>
        </div>



        <div>
            <section>
                <article>
                    <h2>Založení účtu:</h2>
                    <form>
                        <div class="form-control">
                            <label>Jméno</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Příjmení</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Email</label>
                            <input type="email" />
                        </div>

                        <div class="form-control">
                            <label>Heslo</label>
                            <input type="password" />
                        </div>

                        <div class="form-control">
                            <a href="{{ url_for("view_my_account_page") }}">
                                <button type="Button">Odeslat</button>
                            </a>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </section>








</main>
{% endblock %}