{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>  Přihlášení</h2>
    <p>  Pro rezervaci se musíte přihlásit či založit účet:</p>
    </section>


    <section class="side-by-side">
        <div>
            <section>
                <article>
                    <h2>Přihlášení:</h2>
                    <form>
                        <div class="form-control">
                            <label>Jméno</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Příjmení</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Email</label>
                            <input type="email" />
                        </div>

                        <div class="form-control">
                            <label>Heslo</label>
                            <input type="password" />
                        </div>

                        <div class="form-control">
                            <input type="submit" value="Odešli formulář">
                        </div>
                    </form>
                </article>
            </section>
        </div>



        <div class = "bloky">
            <section>
                <article>
                    <h2>Založení účtu:</h2>
                    <form>
                        <div class="form-control">
                            <label>Jméno</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Příjmení</label>
                            <input type="text" />
                        </div>

                        <div class="form-control">
                            <label>Pohlaví</label>
                            <input type="radio" name="sex" value="muž">
                            <span>Muž</span>
                            <input type="radio" name="sex" value="žena">
                            <span>Žena</span>
                            <input type="radio" name="sex" value="jine">
                            <span>Jiné</span>
                        </div>

                        <div class="form-control">
                            <label>Email</label>
                            <input type="email" />
                        </div>

                        <div class="form-control">
                            <label>Heslo</label>
                            <input type="password" />
                        </div>

                        <div class="form-control">
                            <input type="submit" value="Odešli formulář">
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </section>








</main>
{% endblock %}