{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>  Přihlášení</h2>
    <p>  Pro rezervaci se musíte přihlásit či založit účet:</p>
    </section>


    <section class="side-by-side">
        <div>
            <section>
                <article>
                    <h2>Přihlášení:</h2>
                    <form method=post>
                      <dl>
                        {{ render_field(sign_in_form.email) }}
                        {{ render_field(sign_in_form.password) }}
                      </dl>
                      <input class="button" name="sign_in_submit" type="submit" value="Odeslat">
                    </form>
                </article>
            </section>
        </div>



        <div>
            <section>
                <article>
                    <h2>Založení účtu:</h2>
                    <form method=post>
                      <dl>
                        {{ render_field(registration_form.name) }}
                        {{ render_field(registration_form.surname) }}
                        {{ render_field(registration_form.email) }}
                        {{ render_field(registration_form.password) }}
                      </dl>
                      <input class="button" name="registration_submit" type="submit" value="Odeslat">
                    </form>
                </article>
            </section>
        </div>
    </section>








</main>
{% endblock %}