{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>Kontakty:</h2>

    </section>
    <section class="side-by-side">
        <div>
          <h4>Telefonní číslo:</h4>
            <p><br>+420 123 456 789</p>
        </div>
        <div>
          <h4>Email:</h4>
            <p><br>agrostroje@gmail.com</p>
        </div>
      </section>

      <section class="side-by-side">

        <div>
            <h4>Adresa:</h4>
            <p><br>Agro stroje a.s.</p>
            <p>Zemědělská 335</p>
            <p>602 00 Brno</p>
            <p>Česká republika</p>
            <p>GPS:  49°13′45.8″ N, 16°37′10.02″ E</p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2606.455804606532!2d16.617161377527317!3d49.21088227583462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47129463f0e5ad2d%3A0x22be488aa85cb3b4!2zWmVtxJtkxJtsc2vDoSwgNjEzIDAwIEJybm8tc2V2ZXI!5e0!3m2!1suk!2scz!4v1700327548403!5m2!1suk!2scz" width=100% height=95% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>

</main>
{% endblock %}