{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>Kontakty:</h2>

    </section>
    <section class="bloky">
        <div>
          <h4>Telefon:</h4>
            <p>+420 123 456 789</p>
        </div>
        <div>
          <h4>Email:</h4>
            <p>xkostrh2@mendelu.cz</p>
        </div>
        <div>
          <h4>Adresa:</h4>
            <p>Zemedelska 1, Brno</p>

        </div>
      </section>

</main>
{% endblock %}