{%  extends "__main.jinja" %}

{% block content %}
    <main>
      <section>
        <h2>O nás</h2>
        <p>Vítejte v naší půjčovně zemědělských strojů! Jsme vaším partnerem pro efektivní a spolehlivé řešení vašich zemědělských potřeb. S naší rozsáhlou flotilou moderních strojů vám pomůžeme zvýšit produktivitu na vaší farmě. Zjistěte, jak můžeme usnadnit vaši práci a přinést úspěch do vašeho zemědělství. Vítejte u nás!</p>

      </section>

      <section>
        <h2>Naše nabídka:</h2>
        {% if stroje | length == 0 %}
            <div>Žádné produkty.</div>
        {% else %}
            <div>
                <div class="side-by-side">
                {% for stroj in stroje %}

                    <div>
                    <img src="{{ stroj.foto }}" alt="{{ stroj.model }}">
                    <h3>{{ stroj.model }}</h3>
                    {% if typy_stroje != None%}
                    <p>Typ stroje:{{typy_stroje.nazev}}</p>
                    {%endif%}
                    <p>Popis: {{stroj.popis}}</p>
                    <p>Cena stroje: {{stroj.hodinova_cena}} Kč/hodina</p>
                    </div>

                {% endfor %}
            </div>
            {% endif %}
      </section>
      <section>
      <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
      </a>
      </section>

      <section><br>
        <h2>Naše nabídka:</h2>
          <div class="side-by-side">
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/traktor1.jpeg') }}">
                <h3>New Holland T7.270 AC</h3>
                <p>Značka: New Holland</p>
                <p>Model: T7.270</p>
                <p>Rok výroby: 2016</p>
                <a href="{{ url_for("view_reservation_page") }}">
                    <button type="button">Rezervovat</button>
                </a>
            </div>
          </div>
      </section>




    </main>
{% endblock %}