{%  extends "__main.jinja" %}

{% block content %}
    <main>
      <section>
        <h2>O nás</h2>
        <p>Vítejte v naší půjčovně zemědělských strojů! Jsme vaším partnerem pro efektivní a spolehlivé řešení vašich zemědělských potřeb. S naší rozsáhlou flotilou moderních strojů vám pomůžeme zvýšit produktivitu na vaší farmě. Zjistěte, jak můžeme usnadnit vaši práci a přinést úspěch do vašeho zemědělství. Vítejte u nás!</p>

      </section>

      <section>
        <h2>Naše nabídka:</h2>
        <p>To do...</p>
      </section>




    </main>
{% endblock %}