{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>

    {% if session['authenticated']%}
    <h2>  Údaje o uživatelském účtu:</h2>
    <p>  Jméno a příjmení: {{session['jmeno']}} {{session['prijmeni']}} </p>
    <p> Email: {{session['email']}}</p><br><br><br><br>
    {% endif%}




    <a href="{{ url_for("logout") }}">
        <button id="logout-button" type="Button">Odhlásit se</button>
    </a>

    </section>

</main>
{% endblock %}