{% extends "__main.jinja" %}

{% block content %}
    <main>

    {% if 'authenticated' not in session %}
        <p>Nejste přihlášeni.</p>
        <a href="{{ url_for("view_account_page") }}">
            <button type="button">Přihlásit</button>
        </a>
    {% endif %}

    {% if session['authenticated'] %}
    <section>
    <h2>  Údaje o uživatelském účtu:</h2>
    <p>  Jméno a příjmení: {{session['jmeno']}} {{session['prijmeni']}} </p>
    <p> Email: {{session['email']}}</p><br><br><br><br>


    <a href="{{ url_for("logout") }}">
        <button id="logout-button" type="Button">Odhlásit se</button>
    </a>

    </section>
    {% endif %}

    {% if session['authenticated'] and session['role'] == 'klient' %}
        <section>
            <h2>Potvrzené rezervace:</h2>
        </section>

        <section>
            <h2>Minulé rezervace:</h2>
        </section>
    {% endif %}

    {% if session['authenticated'] and session['role'] == 'dispecer' %}
        <section class='side-by-side'>
            <div>
            <h2>Přidat nový stroj:</h2>
            <form method=post>
            <dl>
              {{ render_field(new_product_form.model) }}
              {{ render_field(new_product_form.popis) }}
              {{ render_field(new_product_form.hod_cena) }}
              {{ render_field(new_product_form.doprava) }}
              {{ render_field(new_product_form.foto) }}
              {{ render_field(new_product_form.typy_stroje) }}
            </dl><br>
            <input class="button" type="submit" value=Přidat>
            </form>
            </div>
        </section>
    {% endif %}

</main>
{% endblock %}