{% extends "__main.jinja" %}


{% block content %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <main>
    <section>
    <h2>Rezervace</h2>

        {% if 'authenticated' not in session %}
            <p>Pro rezervaci budete muset provést přihlášení nebo se zaregistrovat.</p>
            <a href="{{ url_for("view_account_page") }}">
                <button type="button">Přihlásit / Registrovat</button>
            </a>
        {% endif %}

        {% if session['authenticated'] and session['role']=='klient'%}
            <p>Napište požadovaný čas v hodinách dle naší otevírací doby: po - pá: 8-17 hod. <br> Minimální doba zápujčky: 1 hodina.</p>
            <section class='side-by-side'>
                <div>
                <form method=post>
                <dl>
                  {{ render_field(form.cas_od, class="form-control") }}
                  {{ render_field(form.cas_do, class="form-control") }}
                  <label>Datum</label>
                  <input type="text" id="datepicker" name="datepicker" class="form-control" placeholder="Vyberte datum">
                  <input type="hidden" id="datum" name="datum">
                  </dl><br><br><br><br><br><br><br><br><br><br><br><br>
                  <a href="{{ url_for("view_reservation_page2") }}">
                <button type="submit">Další strana</button>
                </a>
                </form>
                </div>
             </section>
            {% endif %}

        {% if session['authenticated'] and session['role']=='technik'%}
            <section>
                    <p>Zde bude vypis prirazenych rezervaci technika.</p>
                    <h1>Nadcházející objednávky technika</h1><br>
                <div class="table-container">
                <table>
                    <tr>
                        <th>ID objednávky</th>
                        <th>Datum</th>
                        <th>Cas od</th>
                        <th>Cas do</th>
                        <th>Adresa doruceni</th>
                        <th>Vzdalenost doruceni</th>
                        <th>Poznamka</th>
                        <th>Stroj</th>
                    </tr>
                    {% for order in future_orders %}
                        <tr>
                            <td>{{ order.id_objednavka }}</td>
                            <td>{{ order.datum }}</td>
                            <td>{{ order.cas_od }}</td>
                            <td>{{ order.cas_do }}</td>
                            <td>{{ order.adresa_doruceni }}</td>
                            <td>{{ order.vzdalenost_doruceni }}</td>
                            <td>{{ order.poznamka }}</td>
                            <td>{{ order.model }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
                <br><h1>Minulé objednávky technika</h1><br>
                <div class="table-container">
                <table>
                    <tr>
                        <th>ID objednávky</th>
                        <th>Datum</th>
                        <th>Cas od</th>
                        <th>Cas do</th>
                        <th>Adresa doruceni</th>
                        <th>Vzdalenost doruceni</th>
                        <th>Poznamka</th>
                        <th>Stroj</th>
                    </tr>
                    {% for order in past_orders %}
                        <tr>
                            <td>{{ order.id_objednavka }}</td>
                            <td>{{ order.datum }}</td>
                            <td>{{ order.cas_od }}</td>
                            <td>{{ order.cas_do }}</td>
                            <td>{{ order.adresa_doruceni }}</td>
                            <td>{{ order.vzdalenost_doruceni }}</td>
                            <td>{{ order.poznamka }}</td>
                            <td>{{ order.model }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
             </section>
        {% endif %}

        {% if session['authenticated'] and (session['role']=='dispecer' or session['role']=='admin')%}
            <section>
                {% if zruseni_orders != [] %}
                    <h1>Objednávky ke zrušení</h1><br>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Datum, od-do</th>
                        <th>Stroj</th>
                        <th>Klient</th>
                        <th>Zrušit</th>
                    </tr><form method='post'>
                    {% for order in zruseni_orders %}
                        <tr>
                            <td><button type="submit" class=obj_submit name="id_objednavka" value="{{ order.id_objednavka }}">{{ order.id_objednavka }}</button></td>
                            </form>
                            <form method='post'>
                            <td>{{ order.datum }}, {{ order.cas_od }}-{{ order.cas_do }} hod</td>
                            <td>{{ order.model }}</td>
                            <td></td>
                            <td><input type="hidden" name="id_objednavka" value="{{ order.id_objednavka }}">
                            <button type="submit" class='obj_submit' name='zrusit_submit'>Ano</button></td>
                        </tr>

                    {% endfor %}
                    </form>
                </table>
            </div>
            {%else%}
            <p>- žádné objednávky nepotřebují zrušení</p>
            {%endif%}

                    <br><h1>Nadcházející nepotvrzené objednávky</h1><br>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Datum, od-do</th>
                        <th>Stroj</th>
                        <th>Adresa doruceni</th>
                        <th>Klient</th>
                        <th>Technik</th>
                        <th>Poznamka</th>
                        <th>Cena</th>
                        <th>Potvrdit</th>

                    </tr><form method='post'>
                    {% for order in future_not_conf_orders %}
                        <tr>
                            <td><button type="submit" class=obj_submit name="id_objednavka" value="{{ order.id_objednavka }}">{{ order.id_objednavka }}</button></td>
                            </form>
                            <form method='post'>
                            <td>{{ order.datum }}, {{ order.cas_od }}-{{ order.cas_do }} hod</td>
                            <td>{{ order.model }}</td>
                            <td>{{ order.adresa_doruceni }}</td>
                            <td>{% if klient and klient.get(order.id_objednavka) %}
                            {{ klient[order.id_objednavka].jmeno }} {{ klient[order.id_objednavka].prijmeni }}
                            {% else %}
                            Klient není k dispozici
                            {% endif %}</td>
                            {% if dostupni_technici != []%}
                            <td>{{ render_field(form.technik, class="form-control") }}</td>
                            {%else%}
                            <td> Není k dispozici žádný technik</td>
                            {%endif%}
                            <td>{{ order.poznamka }}</td>
                            <td>{{ render_field(form.cena, class="form-control") }}</td>
                            <td><input type="hidden" name="id_objednavka" value="{{ order.id_objednavka }}">
                            <button type="submit" class='obj_submit' name='obj_submit'>Ano</button></td>
                        </tr>

                    {% endfor %}
                    </form>
                </table>
            </div>
                <br><h1>Nadcházející potvrzené objednávky</h1><br>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Datum, od-do</th>
                        <th>Adresa doruceni</th>
                        <th>Poznamka</th>
                        <th>Stroj</th>
                        <th>Cena</th>
                    </tr>
                    {% for order in future_conf_orders %}
                        <tr>
                            <td>{{ order.id_objednavka }}</td>
                            <td>{{ order.datum }}, {{ order.cas_od }}-{{ order.cas_do }} hod</td>
                            <td>{{ order.adresa_doruceni }}</td>
                            <td>{{ order.poznamka }}</td>
                            <td>{{ order.model }}</td>
                            <td>{{ order.cena }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
                <br><h1>Minulé objednávky</h1><br>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Datum, od-do</th>
                        <th>Adresa doruceni</th>
                        <th>Poznamka</th>
                        <th>Stroj</th>
                        <th>Cena</th>
                    </tr>
                    {% for order in past_orders %}
                        <tr>
                            <td>{{ order.id_objednavka }}</td>
                            <td>{{ order.datum }}, {{ order.cas_od }}-{{ order.cas_do }} hod</td>
                            <td>{{ order.adresa_doruceni }}</td>
                            <td>{{ order.poznamka }}</td>
                            <td>{{ order.model }}</td>
                            <td>{{ order.cena }}</td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
             </section>
        {% endif %}


    </section>
    </main>
{% endblock %}