{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>Rezervace</h2>

        {% if 'authenticated' not in session %}
        <p>Pro rezervaci budete muset provést přihlášení nebo se zaregistrovat.</p>
        <a href="{{ url_for("view_account_page") }}">
            <button type="button">Přihlásit / Registrovat</button>
        </a>
        {% endif %}

        {% if session['role']=='klient'%}
        <form method=post>
            <dl>
              {{ render_field(form.datum, class="form-control") }}
              {{ render_field(form.cas_od, class="form-control") }}
              {{ render_field(form.cas_do, class="form-control") }}

            </dl><br>
            <a href="{{ url_for("view_reservation_page2") }}">
            <input class="button" type="submit" value='Další strana'>
            </a>
            </form>





        {% endif %}


    </section>
    </main>
{% endblock %}