{% extends "__main.jinja" %}

{% block content %}
    <main>
    <section>
    <h2>Rezervace</h2>

        {% if 'authenticated' not in session %}
        <p>Pro rezervaci budete muset provést přihlášení nebo se zaregistrovat.</p>
        <a href="{{ url_for("view_account_page") }}">
            <button type="button">Přihlásit / Registrovat</button>
        </a>
        {% endif %}

        {% if session['authenticated'] and session['role']=='klient'%}
            <section>
            <h3>Volné stroje pro daný čas:</h3><br>
            {% if dostupne_stroje | length == 0 %}
                <div>Omlouváme se, nejsou k dispozici žádné stroje. Můžete se vrátit a vybrat jiné datum a čas.</div><br>
                <a href="{{ url_for("view_reservation_page1") }}">
                    <button type="button">Vrátit zpět</button>
                </a>
            {% else %}
                <div>
                    <div class="side-by-side">
                    {% for stroj in dostupne_stroje %}
                        <div>
                        <img src="{{ stroj.foto }}" alt="{{ stroj.model }}">
                        <h3>{{ stroj.model }}</h3><br>
                        <p>Popis: {{stroj.popis}}</p>
                        </div>
                    {% endfor %}
                    </div>

          </section>
            <form method='post'>
            <table>
              <tr>
                <td>Datum</td>
                <td>Čas od</td>
                <td>Čas do</td>
                <td>Stroj</td>
                <td>Adresa</td>
                <td>Poznámka</td>
              </tr>
              <tr>
                <td>{{session['datum']}}</td>
                <td>{{session['cas_od']}}:00</td>
                <td>{{session['cas_do']}}:00</td>
                <td>{{ render_field(form.stroj, class="form-control") }}</td>
                <td>{{ render_field(form.adresa, class="form-control") }}</td>
                <td>{{ render_field(form.poznamka, class="form-control") }}</td>
              </tr>
            </table><br>

            <button type="submit" name='reservation_submit'>Rezervovat</button>
            </form>
        {% endif %}
        {% endif %}

    </section>
    </main>
{% endblock %}