{% extends "__main.jinja" %}


{% block content %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <main>
    <section>
    <h2>Rezervace</h2>

        {% if 'authenticated' not in session %}
        <p>Pro rezervaci budete muset provést přihlášení nebo se zaregistrovat.</p>
        <a href="{{ url_for("view_account_page") }}">
            <button type="button">Přihlásit / Registrovat</button>
        </a>
        {% endif %}

        {% if session['authenticated'] and session['role']=='klient'%}
        <section class='side-by-side'>
            <div>
            <form method=post>
            <dl>
              {{ render_field(form.cas_od, class="form-control") }}
              {{ render_field(form.cas_do, class="form-control") }}
              <label>Datum</label>
              <input type="text" id="datepicker" name="datepicker" class="form-control" placeholder="Vyberte datum">
              <input type="hidden" id="datum" name="datum">
              </dl><br><br><br><br><br><br><br><br><br><br><br><br>
              <a href="{{ url_for("view_reservation_page2") }}">
            <button type="submit">Další strana</button>
            </a>
            </form>
            </div>
         </section>






        {% endif %}


    </section>
    </main>
{% endblock %}