<!doctype html>
<html lang="en">

<head></head>

    
<body>
    <blockquote>
        <p>There are 10 types of people: those who understand binary and those who dont.</p>
        <footer>{{ name }}</footer>
    </blockquote>

</body>


</html>